// Media Queries
$maxExtraMobile: "(max-width: 575px)";
$minMobile: "(min-width: 576px)";
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 1199px)";
$minLarge: "(min-width: 1200px)";

// to set background image
$localhost: "http://localhost:3000/images/";

/* colors
   --linear Gradient Colors
   --linear gradient web default
*/
$flatblueCo1: #0985f9;
$flatblueCo2: #0b72f8;
$flatblueCo3: #2f5cf3;
$flatblueCo4: #4d40ea;
$flatblueCo5: #6809dc;
// colors contact with linear
$flatblueCo6: #1674f5;
$flatblueCo7: #051133;
$flatblueCo8: #364aeb;
$flatblueCo9: #3a1564;
$flatblueCo10: #0051e2;
$flatblueCo11: #3749eb;
/*
// linear gradient in plan-content secions
*/
// one
$flatplan1: #ece1fd;
$flatplan2: #f0e9fe;
$flatplan3: #f4f0ff;
$flatplan4: #f9f8ff;
// two
$flatplan6:  #fde5fd;
$flatplan7: #fbecff;
$flatplan8: #faf3ff;
$flatplan9: #fcf9ff;
// three
$flatplan10: #cefff1;
$flatplan11: #d6ffff;
$flatplan12: #e7fdff;
$flatplan13: #f7fdff;

// other colos
// white degrees
$flatCCC: #CCC;
$flatFFF: #FFF;
$flatEEE: #EEE;
$flatEC: #ececec;
$flatwhite: #e6e6e6;
$flatwhite2: #F3F3F3;
$flatwhite3: #f0e6ff;
$flatwhite4: #9fa4af;
$flatleaden: #34353c;
// pink degrees
$flatpink: #b587fb;
$flatpink2: #ee539b;
$flatpink3: #e4f6ff;
// black degrees
$flat111: #111;
$flatblack: #000;
$flatblack2: #111214;
$flatblack3: #252525;
$flatblack4: #151515;
$flat1B: #1B1B1B;
$twitterColor: #0081ff;
// this points in the marketing div
$flatpoint1: #FF006C;
$flatpoint2: #E034FF;
$flatpoint3: #FFAE00;
$flatdefaultCo: #8f49f9;
$flatTesti: #63B5B1;
$flatRed: #F00;

// gradient web default
$gradientLeft: linear-gradient(to left, $flatblueCo1, $flatblueCo2, $flatblueCo3, $flatblueCo4, $flatblueCo5);
$gradientRight: linear-gradient(to right, $flatblueCo1, $flatblueCo2, $flatblueCo3, $flatblueCo4, $flatblueCo5);
$gradientButton: linear-gradient($flatblack2, $flatblack2);
$gradientInsta: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
// gradient plan-content
$gradientPlan1: linear-gradient(to left top, $flatplan1, $flatplan2, $flatplan3, $flatplan4, $flatFFF);
$gradientPlan2: linear-gradient(to left top, $flatplan6, $flatplan7, $flatplan8, $flatplan9, $flatFFF);
$gradientPlan3: linear-gradient(to left top, $flatplan10, $flatplan11, $flatplan12, $flatplan13, $flatFFF);
$gradientPlan4: linear-gradient(to top left, #fcf4d1, #fff1e0, #fff4f4, #fffaff, $flatFFF);
$gradientAbout: linear-gradient(to right, #eb3252, #ef2f49, #f32c3f, #f62b34, #f82c28);

// some variables like transition, sont-size
$trans: .4s;
$fontSize: 16px;