.header-about {
    background: url('images/about.jpg') no-repeat center center;
    background-size: cover;
    @extend %padding100;
    @extend %p-relative;
    padding-top: 250px;
    padding-bottom: 200px;
    overflow: visible;
    .overlay {
        @extend %overlay;
        z-index: 1;
    }
    .header-content {
        color: $flatFFF;
        z-index: 5;
        h1 {
            @extend %f-bold;
            font-size: $fontSize + 34;
        }
        span {
            font-size: $fontSize + 4;
            @extend %color-linear;
        }
    }
    .top-header-content {
        position: absolute;
        bottom: -500px;
        left: 50%;
        width: 80%;
        @extend %transform;
        min-height: 635px;
        @extend %center-flex;
        z-index: 999;
        background: url('images/top-header.jpg') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
        @extend %overflow-h;
        &:after {
            content: '';
            @extend %absolute;
            background-color: rgba($flatblueCo10, .5);
        }
        > div {
            .btn-start {
                width: 117px;
                height: 117px;
                border: 3px solid transparent;
                box-shadow: none;
                padding: 0;
                @extend %p-relative;
                @extend %animationWave;
                @extend %inline-block;
                @include borderRadius(100px);
                background-image: $gradientAbout;
                background-origin: border-box;
                background-clip: content-box, border-box;
                i {
                    height: 88px;
                    width: 88px;
                    background: $gradientAbout;
                    @include borderRadius(50%);
                    @extend %text-center;
                    line-height: 88px;
                    color: $flatFFF;
                    font-size: $fontSize + 14;
                    @extend %p-absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    letter-spacing: -6px;
                    @extend %trans;
                    &:after {
                        content: '';
                        width: 0%;
                        height: 0%;
                        @extend %linear-bg;
                        @extend %p-absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        z-index: -1;
                        @include borderRadius(50%);
                        @extend %trans;
                    }
                }
                &:hover {
                    i:after {
                            width: 100%;
                            height: 100%;
                    }
                }
            }
        }
    }
}