.map-contact {
    .container-fluid {
        .map-container {
            padding: 0;
            min-height: 600px;
            > div {
                height: 100%;
                iframe {
                    @extend %width100;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
}